---
import '../styles/globals.css';
---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Milky Way</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body class="h-full w-full bg-neutral-100 p-3 grid grid-cols-4 2xl:grid-cols-8 font-bold text-5xl gap-3 text-white">
    <a
      href="/jupiter"
      class="aspect-square flex items-center justify-center shadow-sm border border-neutral-200/50 rounded-lg bg-[repeating-linear-gradient(30deg,#ffc497,#ffc497_50px,#e19254_50px,#e19254_100px,#feb062_100px,#feb062_150px)]"
    >
      Jupiter
    </a>
    <a
      href="/neptune"
      class="aspect-square flex items-center justify-center bg-[radial-gradient(circle_at_25%_75%,#5b5ddf_0,#3f54ba,#274687,#101b33_100%)] shadow-sm border border-neutral-200/50 rounded-lg"
    >
      Neptune
    </a>
  </body>
</html>
