---
import Planet from '../components/planets/Neptune';
import Editor from '../components/Editor';

import '../styles/globals.css';
---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Neptune - Milky Way</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script type="importmap">
      {
        "imports": {
          "react": "https://esm.sh/react@18.2.0",
          "react-dom": "https://esm.sh/react-dom@18.2.0"
        }
      }
    </script>
  </head>
  <body class="h-full w-full overflow-hidden">
    <Planet client:only />
    <Editor client:only />
  </body>
</html>
